<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("About", "About", "Home")
    @Html.ActionLink("Contact", "Contact", "Home")
    @Html.ActionLink("Projects", "Projects", "Home")
    @Html.ActionLink("Doctor", "Index", "Doctor")
    @Html.ActionLink("FeverCheck", "FeverCheck", "Doctor")
    <div>
        @RenderBody()
    </div>
    <br>
    <footer>
        <span>&copy;@DateTime.Now Shahab Garoosi</span>
    </footer>
</body>
</html>
